# Time Sensitive Real Interview Questions-1

Use 'sales_082020.csv' and 'currency_rates_082020_EUR.csv' files

**Import libraries**

In [4]:
import pandas as pd
import numpy as np
df_sales = pd.read_csv("C://Users//LENOVO//PYTHON//Assignments//DAwPython//sales.csv")
df_currency = pd.read_csv("C://Users//LENOVO//PYTHON//Assignments//DAwPython//currency_rates.csv")

 
1. How many rows in the sales dataset?(Just write the numbers in the format of 000.000)

In [13]:
x = len(df_sales)
'{:,}'.format(x).replace(',','.')

'237.671'

In [45]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [136]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            237671 non-null  datetime64[ns]
 1   currency        237671 non-null  object
 2   buyer_id        237671 non-null  object
 3   buyer_country   237671 non-null  object
 4   seller_id       237671 non-null  object
 5   seller_country  237671 non-null  object
 6   product_code    237671 non-null  object
 7   category        237655 non-null  object
 8   brand           119330 non-null  object
 9   price           237671 non-null  float64
 10  rate            237671 non-null  float64
 11  totalEU         237671 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(8)
memory usage: 21.8+ MB

 
2. How many columns in the sales dataset?(Just write the numbers)

In [17]:
df_sales.columns.size

10

3. What is the total number of sellers?(Just write the numbers in the format of 000.000)

In [27]:
df_sales.head(5)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [83]:
df_currency.head(5)

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

In [23]:
df_sales.seller_id.nunique()
len(df_sales.seller_id.value_counts())

114227

 
4. What is the total value of sales in EUR?(Just write the numbers in the format of 0.000.000 )

In [29]:
df_sales.currency.unique()

array(['GBP', 'USD', 'AUD', 'EUR', 'CAD', 'NZD', 'HKD', 'CHF', 'SEK',
       'DKK', 'ILS', 'PLN', 'THB', 'MXN', 'JPY', 'NOK', 'SGD', 'MYR',
       'TWD', 'HUF', 'CZK', 'BRL'], dtype=object)

In [61]:
x = df_sales.price[df_sales.currency == "EUR"].sum()
'{:,}'.format(x).replace(',','.')

'275.837.69'

5. Which brand has the highest number of purchases during the period?(Just write down the brand as in the dataset, your answer 
is supposed to be case sensitive)

In [58]:
df_sales.groupby("brand").size().sort_values(ascending=False).head(1)

brand
Nike    9575
dtype: int64

6. How many items in the “Jewellery” category have no brand associated with them?(Just write the numbers in the format of 00.000)

In [73]:
x = df_sales[df_sales.category == "Jewellery"]["brand"].isna().sum()
'{:,}'.format(x).replace(',','.')

'13.525'

 
7. How many brands have between 35 and 55 transactions (inclusive)?(Just write the numbers)

In [76]:
((df_sales.groupby("brand").size() > 35) & (df_sales.groupby("brand").size() < 55)).sum()

71

 
8. How many pairs of shoes were purchased by Australian (AU) buyers?(Just write the the numbers)

In [81]:
len(df_sales[(df_sales.buyer_country == "AU") & (df_sales.category == "Shoes")])

658

 
9. Which brand has the highest average transaction value? (Just write down the brand as in the dataset, your answer is supposed to be case sensitive)

In [123]:
df_sales["date"] = pd.to_datetime(df_sales.date)
df_currency["date"] = pd.to_datetime(df_currency.date)

In [138]:
x = df_sales.set_index(["date","currency"])
y = df_currency.set_index(["date","currency"])
merged_df = x.merge(y, how='left', on=["date","currency"])
merged_df  = merged_df.reset_index()
merged_df["totalEU"] = merged_df.price * merged_df.rate
merged_df.groupby("brand")["totalEU"].sum().head(1)

brand
& Other Stories    4284.574791
Name: totalEU, dtype: float64

10. What is the total value of items purchased by GB buyers from GB sellers? (Just write the numbers in the format of 0.000.000 )

In [139]:
merged_df.head()

,date,currency,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,price,rate,totalEU
0,2020-08-03,GBP,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,19.11,0.89935,17.186578
1,2020-08-09,GBP,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,15.92,0.90278,14.372258
2,2020-08-07,GBP,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,6.37,0.90286,5.751218
3,2020-08-09,GBP,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,25.27,0.90278,22.813251
4,2020-08-09,GBP,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,8.90,0.90278,8.034742

In [141]:
merged_df[merged_df.buyer_country == merged_df.seller_country]["totalEU"].sum()

8810284.87710839

11. What percentage of US sellers' transactions were purchased by US buyers? (Just write the percentage in the format of 00.00%)

In [147]:
(merged_df[(merged_df.seller_country == "US") & (merged_df.buyer_country == "US")]["totalEU"].sum()) / (merged_df[merged_df.seller_country == "US"]["totalEU"].sum())

0.9618717703869001

# THE END